[Unit]
Description=Stalkerhek Service
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=myuser
WorkingDirectory=/home/myuser
ExecStart=/home/myuser/stalkerhek -config /home/myuser/config.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
